<div class="login-section" style="background-image: url('dist/img/bg.png');">

	<div class="container">
		<div class="login-block">
			<div class="row-table">
				<div class="col-cell">
					<div class="form-block">

						<div class="logo-block text-center">
							<h1>Forget Password</h1>
							
						</div>
						<div class="whitebg-section">
							<center >
								<p   class="control-label col-md-12">Enter Your Email: </p>
								<input class="form-control ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern ng-touched" type="email" name="email" ng-model="email" placeholder=" Email" required ">
								<br>
								<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								</span>
								<button   class="btn light-blue" ng-click="forgetpassword()"> Submit</button>
								<br>
								<br>
								<p class="control-label col-md-12">Enter Your OTP code: </p>
								<input class="form-control ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-pattern ng-touched" type="text" name="email" ng-model="OTP" placeholder="OTP" required"><br>
								
								<button   class="btn light-blue" ng-click="verify()">verify</button></center>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
