<div class="login-section" style="background-image: url('dist/img/bg.png');">
    <div class="container">
        <div class="login-block">
            <div class="row-table">
                <div class="col-cell">
                    <div class="form-block">
                        <div class="logo-block text-center"><img src="dist/img/bizit.png" style="width:80px;"></div>
                        <div class="whitebg-section">
                            <div class="row">                            
                               <div class="col-sm-12">
                                   <div class="form-group clearfix">
                                    <label class="control-label col-md-12">Email</label>
                                    <input type="email" class="form-control" name="nameEmail" placeholder="email@email.com" ng-model="Email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                                    <span style="color:red;" ng-show="nameEmail.$dirty && nameEmail.$invalid" >
                                     <span ng-show="nameEmail.$error.required">Email is required.</span>
                                     <span ng-show="nameEmail.$error.pattern">Only Valid email !</span>
                                     </span>
                                 </div>
                             </div>
                             <div class="form-group clearfix">
                              <label class="control-label col-md-12">Password</label>
                              <div class="col-sm-12">
                                <input type="password" class="form-control" ng-model="Password" name="namePassword" placeholder="Password" ng-pattern="/^([a-zA-Z0-9@*#]{8,15})$/" required>
                                <span style="color:red;" ng-show="namePassword.$dirty && namePassword.$invalid">
                                   <span ng-show="namePassword.$error.required">Password is required.</span>
                                   <span ng-show="namePassword.$error.pattern">Password Should consist of one symbol atleast one Capital Letter and Number.</span>
                                   </span>
                               </div>
                           </div>

                           <div class="form-group m-t-20 button-block clearfix">
                            <div class="col-sm-12">    
                                <span> 
                                   <label class="control-label col-md-12">Click For : 
                                    <a type="button" ui-sref="signup">SignUp</a></label>
                                    
                                    <label class="control-label col-md-12">Click For : 
                                        <a href="#forgetpassword" >Forgot Password</a></label>
                                    </span>  
                                    <br>
                                    <button type="button" ng-click="login()" class="btn btn-block btn-blue">Login</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
